body {
	background-color: #d8e0bb;
	margin: 0px auto;
	width: 1000px;
	font-family: Verdana, "Segoe UI";
}

.main {
	display: flex;
	min-height: 500px;
	height: auto;
	margin: 10px 0;
}

.header {
	user-select: none;
	cursor: default;
	display: flex;	
	height: 150px;
	padding: 20px;
	box-sizing: border-box;	
	background-image: url("../images/logo.png");	
	color: #984646;
	font-size: 24px;
	font-weight: 600;
	text-align: right;
	align-items: center;
	justify-content: flex-end;
}

.sidebar {		
	cursor: default;
	width: 300px;
	padding: 10px;			
	box-sizing: border-box;
	background-color: #7268a6;
	font-family: "Segoe UI";
}

.content {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-left: 10px;	
	box-sizing: border-box;
}

.footer {
	display: flex;
	align-items: center;	
	justify-content: flex-end;
	padding: 10px;
	height: 35px;
	box-sizing: border-box;
	background-color: #636b46;
	color: #eaeaea;
	font-family: Verdana, "Segoe UI";
	font-size: 13px;
}

a {
	color: inherit;
	font: inherit;
}

.menu {
	cursor: pointer;
	background-color: #9dabc3;
	color: black;
	margin: 5px 0;
	display: block;
	width: 100%;
	padding: 7px 10px;
	box-sizing: border-box;
	text-decoration: none;
}

#active {
	background-color: #8c3260;
	color: white;
}

.menu:hover, .menu:focus {
	background-color: #3c3260 !important;
	color: white;
}
	
.card {
	background-color: white;	
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	font-size: 14px;
}

.card-header {
	background-color: #cda34f;
	padding: 10px;	
	font-weight: bold;
	text-align: center;
}

#photo {
	width: 40%;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	pointer-events: none;
}

.title {
	font-size: 18px;
	color: #9c2525;
	font-weight: bold;
}

.text {
	white-space: pre-line;
	word-break: break-word;
	line-height: 20px;
}

.gallery-thumb {	
	width: 100%;	
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery-caption {
	font-size: 15px;	
}

.gallery-container {
	display: flex;
	flex-wrap: wrap;
}

.thumbnail {
	width: 25%;
	padding: 5px;
	box-sizing: border-box;
}

.thumbnail img {
	width: 100%;
}